= form_for [Contact.find(params[:id]), @new_call] do |f|
  .form-group
    = f.label :dial
    = f.select :dial_id, options_from_collection_for_select(Dial.all, "id", "result"), class: 'form-control'
  .form-group
    = f.label :conversation
    = f.select :conversation_id, options_from_collection_for_select(Conversation.all, "id", "result")
  .form-group
    = f.label :investing
    = f.select :investing_id, options_from_collection_for_select(Investing.all, "id", "result")
  .form-group
    = f.label :timing
    = f.select :timing_id, options_from_collection_for_select(Timing.all, "id", "result")
  .form-group
    = f.label :motivator
    = f.select :motivator_id, options_from_collection_for_select(Motivator.all, "id", "result")
  .actions
    = f.submit 'Save', class: 'btn btn-success btn-sm'
