%p#notice= notice

%p
  %b Contact:
  = @call.contact
%p
  %b Dial:
  = @call.dial
%p
  %b Conversation:
  = @call.conversation
%p
  %b Invest:
  = @call.invest
%p
  %b Timing:
  = @call.timing
%p
  %b Motivator:
  = @call.motivator
