= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4
      %h3 Contact details
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :entity
        = f.text_field :entity, class: 'form-control'
      .form-group
        = f.label :phone
        = f.text_field :phone, class: 'form-control'
      .form-group
        = f.label :alt_phone
        = f.text_field :alt_phone, class: 'form-control'
      .form-group
        = f.label :dead_phone
        = f.text_field :dead_phone, class: 'form-control'
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :alt_email
        = f.text_field :alt_email, class: 'form-control'
      .form-group
        = f.label :dead_email
        = f.text_field :dead_email, class: 'form-control'
    .col-md-4
      %h3 Property details
    .col-md-4
      %h3 Call result
      .form-group
        = f.label :dial
        = f.select :dial_id, options_from_collection_for_select(Dial.all, "id", "result"), class: 'form-control'
      .form-group
        = f.label :conversation
        = f.select :conversation_id, options_from_collection_for_select(Conversation.all, "id", "result")
      .form-group
        = f.label :investing
        = f.select :investing_id, options_from_collection_for_select(Investing.all, "id", "result")
      .form-group
        = f.label :timing
        = f.select :timing_id, options_from_collection_for_select(Timing.all, "id", "result")
      .form-group
        = f.label :motivator
        = f.select :motivator_id, options_from_collection_for_select(Motivator.all, "id", "result")
      .form-group
        = f.label :notes
        = f.text_area :body, class: 'form-control', rows: 6
      .actions
        = f.submit 'Save', class: 'btn btn-success'
