- if @contact.calls.last
  .text-right
    %h3.status= "status: #{@contact.calls.last.investing.result}, #{@contact.calls.last.timing.result}"
.row
  .col-md-1
    = link_to edit_contact_path(@contact.previous), class: 'btn' do
      %i.glyphicon.glyphicon-chevron-left
  .col-md-10
    = form_for @contact do |f|
      - if @contact.errors.any?
        #error_explanation
          %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
          %ul
            - @contact.errors.full_messages.each do |msg|
              %li= msg
      .row
        .col-md-4
          %h4 Contact details
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :entity
            = f.text_field :entity, class: 'form-control'
          .form-group
            = f.label :phone
            = f.text_field :phone, class: 'form-control'
          .form-group
            = f.label :alt_phone
            = f.text_field :alt_phone, class: 'form-control'
          .form-group
            = f.label :dead_phone
            = f.text_field :dead_phone, class: 'form-control'
          .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'
          .form-group
            = f.label :alt_email
            = f.text_field :alt_email, class: 'form-control'
          .form-group
            = f.label :dead_email
            = f.text_field :dead_email, class: 'form-control'
          .form-group
            = f.label :notes
            = f.text_area :body, class: 'form-control', rows: 6
          .form-group
            = f.submit 'Save', class: 'btn btn-success'
        .col-md-4
          %h4 Property details
          = link_to "Add property", new_contact_property_path(@contact)
          %br
          %br
          - @contact.properties.each do |property|
            %p= "#{property.street_no} #{property.street}"
            %p= "#{property.city}, #{property.state} #{property.zip}"
            %p
              %b Units:
              = property.units
            %p
              %b Year built:
              = property.year_built
            %p
              %b Purchase year:
              = property.purchase_year
            = link_to "Edit", edit_contact_property_path(@contact, property), class: 'btn btn-primary btn-sm'
            = link_to "Delete", [@contact, property], method: :delete, data: { confirm: 'Are you sure you want to delete this property?' }, class: 'btn btn-danger btn-sm'

        .col-md-4
          %h4 Call
          = link_to "Call History", contact_calls_path(@contact)
          %br
          = link_to "New Call", new_contact_call_path(@contact)
          %br
          %br
          - if @contact.calls.last
            %h4= "Last call on #{@contact.calls.last.created_at.strftime("%m/%d/%Y")}"
            %p
              %b Dial:
              = @contact.calls.last.dial.result
            %p
              %b Conversation:
              = @contact.calls.last.conversation.result
            %p
              %b Investing?
              = @contact.calls.last.investing.result
            %p
              %b Timing:
              = @contact.calls.last.timing.result
            %p
              %b Motivator:
              = @contact.calls.last.motivator.result

  .col-md-1
    = link_to edit_contact_path(@contact.next), class: 'btn' do
      %i.glyphicon.glyphicon-chevron-right
