%h1 Contacts
- @contacts.each do |contact|
  .row
    .col-md-3
      %p= link_to contact.name, edit_contact_path(contact)
    .col-md-3
      %small= contact.entity
    .col-md-1
      = contact.investing.result
    .col-md-1
      = contact.timing.result

= link_to 'New Contact', new_contact_path
