%p#notice= notice

.row
  .col-md-4
    %p
      %b Name:
      = @contact.name
    %p
      %b Entity:
      = @contact.entity
    %p
      %b Phone:
      = @contact.phone
    %p
      %b Alt phone:
      = @contact.alt_phone
    %p
      %b Dead phone:
      = @contact.dead_phone
    %p
      %b Email:
      = @contact.email
    %p
      %b Alt email:
      = @contact.alt_email
    %p
      %b Dead email:
      = @contact.dead_email
    %p  
      %b Notes:
      = @contact.body
