<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Start using Call Carousel</h3>
    <%= render 'subscriptions/form' %>
    <!-- <%= form_tag transactions_path do %>
      <script src="https://checkout.stripe.com/checkout.js"
        class='stripe-button'
        data-key="<%= @stripe_btn_data[:key] %>"
        data-amount=<%= @stripe_btn_data[:amount] %>
        data-description="<%= @stripe_btn_data[:description] %>" >
      </script>
    <% end %> -->
  </div>
</div>
